*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* border: 1px solid black; */
}

body{
    background-color: #FFEEAD;
}

h1, h2{
    font-family: 'Chelsea Market', cursive;
}

header, footer{
    background-color: #96CEB4;
}

ul li{
    list-style-type: none;
    margin: 10px;
    padding: 3px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #D9534F;
}

.container-fluid{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: inherit;
    text-shadow:  6px 6px 5px rgba(150, 150, 150, 0.87);
}

img{
    padding-left: 30px;
}

.contenedorTarjetas{
    height: 15vh;
}

h1{
    margin: 50px;
}

footer{
    font-weight: bold;
}

.imagenInicio{
    width: 40%;
}

.tarjetaInicio{
    margin: 100px 0px 100px 0px;
}

.cardContenedor{
    width: 80%;
}

.noPadding{
    padding: 0px;
    margin: 0px;
}

.cardProduct{
    margin: 20px 0px 20px 0px;
}

.card:hover{
    transform: scale(110%);
    transition: .4s;
}

#carouselExampleIndicators{
    width: 80%;
    margin: 50px 0px 50px 0px;
}

.navbar-light, .bg-light{
    background-color: #96CEB4 !important;
}

form{
    width: 70%;
}

.mainContainer {
    padding: 50px 0px 50px 0px;
}

h3.col-9{
    width: 40%;
}

a img{
    padding: 20px;
    width: 80%;
}

